body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: burlywood;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.parents_container{
    /* padding: 45px 55px; */
    position: relative;
    height: 100vh;
    width: 600px;
    height: 500px;
    border-radius: 2%;
    background-color: aliceblue;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.text_of_joke{
    text-align: center;
    padding: 15px 20px;
    font-size: 30px;
}

.btn{
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
}

.next_btn{
    /* background-color: burlywood; */
    font-weight: bold;
    padding: 7px 10px;
    border: none;
    border: 5%;
    text-decoration: none;
    /* color: black; */
}

.share_btn{
    /* background-color: black; */
    font-weight: bold;
    padding: 7px 10px;
    border: none;
    border: 5%;
    text-decoration: none;
    /* color: white; */
}

.next_btn:hover {
    cursor: pointer;
}

.share_btn:hover{
    cursor: pointer;
}
